<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=" fragments/layout">
<head>
    <title>用户列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>
<div class="col-sm-9 col-md-10 main"  layout:fragment="content" >
    <div id="mainContent">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="/index">首页</a></li>
                <li class="active"><a href="#">用户列表</a></li>
            </ol>
        </div>
        <div class="container-fluid">

            <h3 class="h2">用户列表</h3>
            <!-- 搜索表单条 -->
            <form class="form-inline form-search" role="form" style="margin-bottom: 10px">

                <div class="input-group">
                    <input class="form-control" name="searchName" placeholder="请输入项目名称关键字" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">查询</button>
                    </span>
                </div>
                <div class="form-group" style="margin-left:1%">
                    共找到 <strong v-html="total"></strong> 个相关结果
                </div>
                <a class="btn btn-success pull-right" href="/system/toUserAdd" target="_blank">
                    <span class="glyphicon glyphicon-plus-sign"></span>新建用户
                </a>
            </form>

            <!-- 项目列表 -->
            <table class="table table-bordered table-responsive">
                <thead>
                    <th class="text-center" style="width:5%">全选</th>
                    <th class="text-center" style="width:10%">用户编号</th>
                    <th class="text-center" style="width:20%">用户名</th>
                    <th class="text-center" style="width:20%">昵称</th>
                    <th class="text-center" style="width:20%">创建时间</th>
                    <th class="text-center" style="width:25%">操作</th>
                </thead>
                <tbody>
                    <tr v-for="(user,index) in users">
                        <td  class="text-center"><input type="checkbox" :value = "index"></td>
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.nickname}}</td>
                        <td>{{user.createDate}}</td>
                        <td>
                            <button class="btn btn-primary" @click="viewUser(user)">查看</button>
                            <button class="btn btn-warning" @click="updateUser">编辑</button>
                            <button class="btn btn-danger" @click="deleteUser">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination :p_total.sync="total" :p_current.sync="current"  v-on:page-change="pageChange"></pagination>
        </div>
    </div>
    <script>
        window.onload = function () {
           new Vue({
                el:"#mainContent",
                data:{
                    total:0,
                    current:1,
                    users:[],
                },
                methods:{
                    viewUser:function (user) {
                       alert("查看" + user.id);
                    },
                    updateUser:function () {
                        alert("編輯" + user.id);
                    },
                    deleteUser:function () {
                        alert("刪除" + user.id);
                    },
                    init:function (paramData) {
                        var _self = this;
                        $.ajaxReqUtil(ReqUrlPath.UserList,paramData,false,function (r) {
                            if (r.code == 0){
                                _self.users = r.data.list;
                                _self.total = r.data.total;
                                _self.current = r.data.pageNum;
                            }
                        }, function (e) {
                            console.log(e);
                        });

                    },
                    pageChange:function(cur){
                        var requestParameter = new RequestParameter();
                        requestParameter.setPageNum(cur);
                        this.init(requestParameter);
                    }
                },
                mounted:function(){
                    this.init();
                },
            });
        };
    </script>
</div>
</body>
</html>