<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>404</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- header-->
<div id="headerGlobalContent"></div>

<div class="container">
    <p class="text-danger">您没有权限访问！！！！</p>
</div>

<a href="/login" class="btn btn-success">到登陆页面</a>


<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/vue2.js"></script>
<script src="/js/lib/vue-router.js"></script>
<script src="/js/common/header-footer.js"></script>
<!-- footer -->
<div id="footerGlobalContent" style="margin-top:50px"></div>
</body>
</html>